<body>

<form action="procesar_datos.php" method="post" class="formulario">
  <H6 class = "subtitulo"> Describe tu historia laboral </H6>


  <div class="form-group">
    <label for="Describe tus responsabilidades">Describe tus responsabilidades, logros y detalles del puesto</label>

    <ion-item>
      <ion-label>Selecciona:</ion-label>
      <ion-select placeholder="Tutorias y Asesoramiento Estudiantil">
        <ion-select-option value="opcion1">Desarrollo de planes de estudio</ion-select-option>
        <ion-select-option value="opcion2">Participacion en actividades extracurriculares</ion-select-option>
        <ion-select-option value="opcion3">Colaboracion con colegas</ion-select-option>
        <ion-select-option value="opcion4">Participacion en actividades de desarrollo profesional</ion-select-option>
        <ion-select-option value="opcion5">Proyectos de investigación o publicaciones</ion-select-option>
        <ion-select-option value="opcion6">Esperiencia de tecnologia educativa</ion-select-option>
        <ion-select-option value="opcion7">Organizacion de eventos educativos</ion-select-option>
        <ion-select-option value="opcion8">Participacion en comités escolares</ion-select-option>
        <ion-select-option value="opcion9">Implementacion de estrategias de enseñanza</ion-select-option>
      </ion-select>
    </ion-item>

    <input type="text" id="Describe tus responsabilidades" name="Describe" required>

    

  </div>

   <ion-button class="iregresa"fill="clear">Regresar
  </ion-button>
  <ion-button class="icontinuar"fill="clear">Continuar
  </ion-button>
</form>

</body>
