@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.header{
    color:antiquewhite;
    text-align: left;
    font-size: 50px;
    margin-top: 40px;
}

.combo{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1300px;
}

.izquierda ion-button {
    font-size: 20px; /* Ajusta el tamaño del texto del botón */
    padding: 15px; /* Ajusta el relleno del botón para hacerlo más grande */
    margin-left: 50px;
    margin-top: 0px;
}

.tarjeta {
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 0px;
}

