 <header class="header">
  
    <div class="izquierda">
  
      <div class="tarjeta">
  
    <ion-card-header>
      <ion-card-title>Describe tu historia laboral</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-textarea
      placeholder="Escribe tus responsabilidades, logros y detalles del puesto"
      [clearOnEdit]="true"
    ></ion-textarea>
    </ion-card-content>
  
    <div class="botones">
    <ion-button size="default" [routerLink]="'actualiza'">Regresar</ion-button>
    <ion-button size="default" [routerLink]="'historial'">Continuar</ion-button>
    </div>
  
  </div>
  
  </div>
  
  <div class="derecha">
    <div class="combo">
    <ion-item>
      <ion-label></ion-label>
      <ion-select placeholder="Tutorias y Asesoramiento Estudiantil">
        <ion-select-option value="opcion1">Desarrollo de planes de estudio</ion-select-option>
        <ion-select-option value="opcion2">Participacion en actividades extracurriculares</ion-select-option>
        <ion-select-option value="opcion3">Colaboracion con colegas</ion-select-option>
        <ion-select-option value="opcion4">Participacion en actividades de desarrollo profesional</ion-select-option>
        <ion-select-option value="opcion5">Proyectos de investigación o publicaciones</ion-select-option>
        <ion-select-option value="opcion6">Esperiencia de tecnologia educativa</ion-select-option>
        <ion-select-option value="opcion7">Organizacion de eventos educativos</ion-select-option>
        <ion-select-option value="opcion8">Participacion en comités escolares</ion-select-option>
        <ion-select-option value="opcion9">Implementacion de estrategias de enseñanza</ion-select-option>
      </ion-select>
    </ion-item>
  
  </div>
  
  </div>
  
  
  </header>
