<div class="header">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Opciones</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-button fill="clear" [routerLink]="'describe'">Editar</ion-button>
        </ion-item>
        <ion-item>
          <ion-button fill="clear" [routerLink]="'historial'">Consultar</ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="header">
          <h1>ACTUALIZA TU EXPERIENCIA LABORAL</h1>
        </div>
      </ion-toolbar>
    </ion-header>
  </div>
</div>

