<app-header></app-header>
<ion-content>
  <h1 class="h1">  SINTAXIS DE LA EXPERIENCIA LABORAL  </h1>
  <ion-card class="experience-card">
    <ion-card-header>
      <ion-card-title>Experiencia laboral</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Contenido de descripcion de la expeciencia laboral
    </ion-card-content>
    <div class="card-buttons">
    <ion-button size="large">
  <ion-icon slot="icon-only" name="create"> md="settings-sharp"></ion-icon>
</ion-button>
<ion-button size="large">
  <ion-icon color="danger"slot="icon-only" name="close-circle"> md="settings-sharp"></ion-icon>
</ion-button>
</div>
  </ion-card>
  <ion-button fill="outline" color="medium" size="small">
    <ion-icon slot="start" name="add-circle-outline" ></ion-icon>
    Agregar otra experiencia laboral
  </ion-button>
  <ion-button class="save-button">Terminar y guardar</ion-button>
</ion-content>